@keyframes showDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showDownScreen {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes hideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(50%);
    opacity: 0;
  }
}

.is-hidden {
  display: none;
}

.show-down {
  animation: showDown 0.3s;
}

.show-down-screen {
  animation: showDownScreen 1.2s;
}

.hide-up {
  opacity: 0;
  animation: hideUp 0.3s;
}

.hide-down {
  opacity: 0;
  animation: hideDown 0.3s;
}

.is-cursor-not-allowed {
  cursor: not-allowed !important;
}

.no-user-select {
  user-select: none;
}