.app {
  max-width: 1680px;
  border-right: 1px solid #dadce0;
  border-left: 1px solid #dadce0;
  height: 100vh;
  display: flex;
}

.main {
  width: 100%;
  height: 100vh;
  background: #e6ebee;
  position: relative;

  > .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
  }

  &_placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    &-icon {
      color: #abb0b3;
      font-size: 140px;
      margin-bottom: -20px;
    }

    &-title {
      color: #707579;
      font-size: 24px;
      line-height: 1.3;
    }
  }
}

.chat {
  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: space-between;
  }

  &_messages {
    flex-grow: 2;

    .scroll_content {
      max-width: 700px;
      width: 100%;
      margin: auto;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 16px 0;
    }
  }
}

.message {
  margin-bottom: 4px;
  position: relative;

  &:not(.message__out) + .message__out {
    margin-top: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__out {
    text-align: right;

    + .message:not(.message__out) {
      margin-top: 8px;
    }

    .message_wrapper {
      background: #eeffde;
    }

    .message_time {
      color: #5ab458;
    }
  }

  &__pip {
    &:before {
      width: 7px;
      height: 17px;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: -7px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='17' viewBox='0 0 7 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.49037 15.0151C-0.200324 15.6871 0.273246 17 1.23692 17L7 17V0C7 0 6.7105 4.25895 4.95042 8.78235C3.98275 11.2693 2.04186 13.5055 0.49037 15.0151Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &.message__out {
      &:before {
        display: none;
      }

      &:after {
        width: 7px;
        height: 17px;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: -7px;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='17' viewBox='0 0 7 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.99997 17H0V0C0.193003 2.8393 0.876198 5.76675 2.04958 8.78235C2.95395 11.1066 4.49587 13.2666 6.67533 15.2625C7.08266 15.6355 7.11048 16.268 6.73748 16.6754C6.54805 16.8822 6.28046 17 5.99997 17Z' fill='%23EEFFDE'/%3E%3C/svg%3E%0A");
      }

      .message_wrapper {
        border-radius: 8px 8px 0 8px;
      }
    }

    .message_wrapper {
      border-radius: 8px 8px 8px 0;
    }
  }

  &_wrapper {
    display: inline-block;
    max-width: 85%;
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    padding: 4px 8px 4px 12px;
    text-align: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  &_text {
    display: inline;
    text-align: left;
  }

  &_time {
    display: inline-block;
    color: #b2bac1;
    font-size: 12px;
    transform: translateY(8px);
    margin-left: 8px;
    float: right;
  }
}