.side {
  border-right: 1px solid #dadce0;
  width: 420px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  position: relative;

  > .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
  }

  &_header {
    padding: 8px 20px 8px 14px;
    display: flex;
    transition: box-shadow 0.3s;

    &__shadow {
      box-shadow: 0px 0 8px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &_menu {
    margin-right: 20px;
  }

  &_search {
    flex-grow: 2;
  }

  &_dialogs {
    flex-grow: 2;
    display: flex;
  }

  &_dialogs-list {
    height: 100%;
    flex-grow: 2;

    .scroll_content {
      padding: 8px;
    }

    .scroll_handler {
      padding: 0 2px;
    }
  }
}

.dialog {
  height: 70px;
  margin-bottom: 8px;
  display: flex;
  padding: 8px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &:hover {
    background: #f4f4f5;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &_photo {
    width: 54px;
    flex-shrink: 0;
    margin-right: 8px;

    &-wrapper {
      width: 54px;
      height: 54px;
      background: #4ea4f6;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 21px;
      color: #fff;
      line-height: 1;
    }
  }

  &_content {
    flex-grow: 2;
    width: 320px;
  }

  &_header {
    display: flex;
    align-items: center;
    margin: 2px 0 5px 0;
  }

  &_name {
    padding-top: 2px;
    flex-grow: 2;
    font-weight: 700;
    line-height: 20px;
  }

  &_time {
    color: #676b71;
    font-size: 12px;
  }

  &_text {
    color: #707579;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 20px;

    span {
      color: #000;
    }
  }

  &_message-status {
    display: none;
  }

  &_status-pinned {
    display: none;
  }

  &_unreaded {
    display: none;
  }

  .button_wave {
    background-color: #e7eaeb;
  }
}